@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, serif;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  /* margin-top: 107px; */
  background: linear-gradient(90deg, #730fff 0%, #8c139a 100%);
  z-index: 95;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #fbfafa;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* scrollbar settings */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba(88, 38, 142, 0.821);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(88, 38, 142);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5e1d5d;
}

::-webkit-scrollbar-track {
  background-color: #530b4c00;
}

::-webkit-scrollbar-track:active {
  background-color: #c70fbb00;
}

/* main styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #730fff 0%, #8c139a 100%);
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.8em 3em;
  background-color: rgb(88, 38, 142);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 99;
}

.logo,
.logo-mini {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.logo-mini {
  font-size: 2.2em;
  display: none;
}

.search-box {
  width: 30%;
  display: flex;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 3px;
  height: 45.6px;
}

.search-icon {
  color: #fff;
}

.search-input {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  background: rgb(120, 53, 192);
  width: 80%;
  transition: transform 0.5s;
}

.search-input::placeholder {
  color: #bcb0b0;
}

/* navbar styles */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  user-select: none;
  transition: 0.5s;
}

.navigation .not-button {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.navigation .not-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation .not-button:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
}

.navigation .btnLogin-popup:hover {
  background: #fff;
  color: #162938;
}

.toggler {
  display: none;
}

.navigation.show {
  position: absolute;
  top: 85px;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(88, 38, 142);
  width: 200px;
  height: 210px;
  padding: 10px;
  border-radius: 6px;
  transition: 0.5s;
}

/* footer styles */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em 2em;
  background-color: rgb(88, 38, 142);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 99;
  user-select: none;
}

footer p {
  font-size: 14px;
  color: #ffffff;
  margin: 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* media */

@media (max-width: 1000px) {
  .search-box {
    width: 50%;
  }

  .navigation {
    display: none;
  }

  .toggler {
    display: block;
    width: 80px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 0.5em;
    transition: 0.5s;
  }

  .toggler.show {
    background: #fff;
    color: #162938;
  }

  .navigation.show {
    top: 85px;
    right: -1%;
  }
}

@media (max-width: 700px) {
  .navigation.show {
    top: 85px;
    right: 0;
    width: 100%;
  }

  header {
    padding: 1.5em 2.4em;
  }

  .search-box {
    width: 100%;
  }

  .logo-mini {
    display: block;
  }

  .logo {
    display: none;
  }

  .toggler {
    width: 60px;
    height: 45.6px;
  }
}

@media (max-width: 425px) {
  header {
    padding: 1.2em 1em;
  }

  .footer-container p {
    font-size: 10px;
  }
}
