body {
    background: rgb(116, 49, 187) url('../images/background.jpg') center center/cover no-repeat fixed;
    background-size: cover;
    background-position: center;
}

body.left {
    animation: background-animation 1s ease 0s 1 normal forwards;
}

body.right {
    animation: background-animation 1s ease 0s 1 reverse forwards;
}


@keyframes background-animation {
    0% {
        background-position: right bottom;
        background-size: 150%;
    }

    100% {
        background-position: left bottom;
        background-size: 150%;
    }
}