body {
    flex-direction: column;
}


.bgvideo {
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    pointer-events: none;
}

.bgvideo video {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
    opacity: 0.4;
    user-select: none;
    pointer-events: none;
}

.video-text {
    color: rgb(238, 222, 252);
    z-index: 2;
    font-size: 3em;
    user-select: none;
    pointer-events: none;
}

.effect {

    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

}

.wrapper {
    max-width: 1200px;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%
}

.wrapper .icon {
    top: 50%;
    cursor: pointer;
    position: absolute;
    height: 46px;
    width: 46px;
    font-size: 2rem;
    text-align: center;
    padding-top: 4px;
    line-height: 46px;
    border-radius: 50%;
    border: inherit;
    background-color: rgb(115, 51, 184);
    color: #fff;
    transform: translateY(-50%);
}

.wrapper .icon:first-child {
    left: -23px;
    display: none;
}

.wrapper .icon:last-child {
    right: -20px;
}

.wrapper .carousel {
    font-size: 0px;
    margin-left: 0;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.wrapper .carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel img {
    border-radius: 1%;
    height: 340px;
    object-fit: cover;
    margin-left: 10px;
    width: calc(100% / 3);
    user-select: none;
    pointer-events: none;
}

/* .carousel img:first-child {
    margin-left: 0;
} */

/* button login style */
.navigation .btnLogin-popup {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100%/2);
    }

}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}