@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #730FFF 0%, #8c139a 100%);
    background-size: cover;
    background-position: center;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em 3em;
    background-color: rgb(88, 38, 142);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 99
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.search-box-window {
    display: none;
}

.search-input {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background: rgb(120, 53, 192);
    width: 300px;
    transition: .5s;
}


header .search-input:hover,
header .search-input:focus {
    transform: translateX(5%)
}

.search-input::placeholder {
    color: #bcb0b0;
}

.search-button {
    all: unset;

}

.search-button .search-icon {
    color: #fff;
    font-size: 1.4em;
}




.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    user-select: none;
}

.navigation .not-button {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;


}

.navigation .not-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation .not-button:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}


.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.toggler {
    display: none;

}

.navigation.show {
    position: absolute;
    top: 85px;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(88, 38, 142);

    width: 200px;
    height: 210px;
    padding: 10px;
    border-radius: 6px;

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em 2em;
    background-color: rgb(88, 38, 142);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 99;
    user-select: none;
}

footer p {
    font-size: 14px;
    color: #ffffff;
    margin: 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;

}




@media (max-width: 1000px) {


    .navigation {
        display: none;
    }

    .toggler {
        display: block;
        width: 130px;
        height: 50px;
        background-color: transparent;
        border: 2px solid #fff;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.1em;
        color: #fff;
        font-weight: 500;
        margin-left: 0.5em;
        transition: .5s;
    }

    .toggler.show {
        background: #fff;
        color: #162938;
    }
}

@media (max-width: 700px) {
    .search-box-window {
        display: block;
        z-index: 99;
        position: fixed;
        top: 35%;
        left: 50%;
        /* transform: translate(-50%, -35%); */
        text-align: center;
        background: rgba(88, 38, 142, 0);
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);

        width: 320px;
        padding: 2em;
        transform: scale(0);
    }

    .search-box-window.go {
        transition: transform .5s ease, height .2s ease;
    }

    .search-box-window h2 {
        color: #fff;
        text-align: center;
    }

    .search-box-window.active {
        transform: scale(1) translate(-50%, -35%);

    }

    .icon-close-search:hover {
        cursor: pointer;
    }

    .search-box-window .icon-close-search {
        z-index: 98;
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        font-size: 2em;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 20px;
    }

    .btn {
        width: 100%;
        height: 45px;
        background: #42164d;
        border: none;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1em;
        color: #fff;
    }

    .search-box-window .search-input {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;
    }

    .search-box .search-input {
        display: none;
    }

    .search-button {
        cursor: pointer;
    }

}

@media (max-width: 425px) {
    .toggler {
        width: 60px;
        height: 50px;
    }

    .navigation.show {
        top: 85px;
        right: -5%;


    }
}