/*TODO: закруглить сортировку */
body {
  flex-direction: column;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: rgb(88, 38, 142);
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}

.main-container {
  display: flex;
  flex-direction: row;
  margin: 150px 20px 50px 20px;
  width: 100%;
  justify-content: space-between;
}

.filter-button {
  display: none;
}
.filter .icon-close-filter {
  display: none;
}

.filter {
  margin-left: 40px;
  width: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(88, 38, 142, 0);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  height: 900px;
}

.filter .type,
.filter .size,
.filter .price-range,
.filter .firm {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-direction: column;
  padding: 0.7em;
  color: #fff;
  text-decoration: none;
  background: rgba(88, 38, 142, 0);
  overflow: hidden;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.filter .type > li,
.filter .firm > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
  padding: 0.5em;
  transition: background-color 0.2s, color 0.2s;
  border-radius: 5px;
}

.filter .type > li > label,
.filter .firm > li > label {
  width: 100%;
  cursor: pointer;
  text-align: start;
}

.filter .type > li:hover,
.filter .firm > li:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(88, 38, 142);
}

.filter .sex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.filter .sex > a {
  padding: 0.5em;
  width: 50%;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background: rgba(88, 38, 142, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.filter .sex > a.current {
  background-color: #fff;
  color: rgb(115, 51, 184);
}

.man {
  border-top-left-radius: 20px;
}

.woman {
  border-top-right-radius: 20px;
}

.filter .size-select {
  padding-top: 0.5em;
  background-color: rgba(88, 38, 142, 0.516);
  width: 100%;
  color: #fff;
  overflow: auto;
  border: 2px solid rgba(255, 255, 255, 0.5);
  text-align: center;
}

.filter .price-range {
  border-bottom: none;
  align-items: center;
}

.filter .price-range input {
  width: 100px;
  padding: 5px;
  margin-right: 10px;
  background-color: rgba(88, 38, 142, 0.362);
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 40px;
  width: 80%;
}

.search-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

.search-result .result,
.sorting {
  background: rgba(88, 38, 142, 0);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

  width: 49%;
  padding: 0.5em;
  color: #fff;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.search-result .result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sorting {
  display: flex;
  justify-content: space-around;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 60%;
}

.custom-select .select {
  width: 100%;
  background: rgba(88, 38, 142, 0.29);
  color: #fff;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  appearance: none;
  -webkit-appearance: none;
}

.custom-select .select option,
.custom-select .select option:focus,
.custom-select .select option:hover {
  display: none;
  visibility: hidden;
}

.custom-select .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 98;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  background-color: rgba(88, 38, 142, 0.29);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  color: #fff;
  backdrop-filter: blur(15px);
}

.custom-select .dropdown::-webkit-scrollbar {
  width: 0px;
}

.custom-select .dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-select .dropdown li {
  padding: 5px;
}

.custom-select .dropdown li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  font-size: 0.8em;
  border-radius: 10px;
}

.custom-select .dropdown li a:hover {
  background-color: #f4f4f4;
  color: rgb(88, 38, 142);
}

.custom-select .dropdown.show {
  display: block;
}

.cards-container {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: sans-serif;
  padding-top: 30px;
}

.cards-container * {
  box-sizing: border-box;
}

.card {
  background: rgba(88, 38, 142, 0);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
}

.card-image {
  user-select: none;
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.card-content {
  line-height: 1;
  font-size: 1.4em;
  padding: 15px;
  background: #fafafa00;
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.product-a {
  text-decoration: none;
}

.card-content p.product-name {
  user-select: text;
  margin-top: 0;
  font-size: 1em;
  margin-bottom: 0.4em;
}

.card-content p.sale-price {
  margin-bottom: 0;
}

.card-info {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 0.8em;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  user-select: none;
  bottom: 0;
  transition: background-color 0.3s;
}

.card-info:hover {
  background-color: #fff;
  color: rgb(115, 51, 184);
}

.navigation .btnLogin-popup {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

footer {
  position: static;
  z-index: 97;
}

@media (max-width: 1300px) {
  .cards-container {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media (max-width: 1000px) {
  .filter {
    width: 30%;
  }
  .cards-container {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    margin: 0 30px;
    width: 60%;
    margin-left: 60px;
  }
}

@media (max-width: 850px) {
  body.not-slide {
    overflow: hidden;
  }
  .navigation.show {
    z-index: 500;
  }

  .search-result .result {
    display: none;
  }

  .sorting {
    width: 250px;
    height: 44px;
    right: 2.5%;
    top: 18.5%;
    position: absolute;
  }
  .filter {
    display: none;
  }
  .product-container {
    width: 100%;
    margin-right: 0;

    align-items: center;
    justify-content: center;
  }

  .cards-container {
    margin-left: 0;
    justify-content: center;
  }
  .filter-button {
    display: block;
    position: absolute;
    top: 17%;
    left: 2.5%;
    color: #e0dada;
    font-size: 3em;
    z-index: 98;
    font-weight: lighter;
  }

  .filter .icon-close-filter {
    z-index: 98;
    position: absolute;
    top: 2%;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
  }

  #icon-close-women {
    color: rgb(115, 51, 184);
  }
  .icon-close-filter:hover {
    cursor: pointer;
  }

  .filter-button:hover {
    cursor: pointer;
  }
  .filter.active {
    z-index: 98;
    display: block;
    position: fixed;
    overflow-y: scroll;
    width: 320px;
    top: 28%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 0;
    height: 450px;
    backdrop-filter: blur(15px);
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: rgba(115, 51, 184, 0.327);
    transition: transfrom 0.5s;
    margin-bottom: 50px;
  }
  .filter.active::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 550px) {
  .cards-container {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    margin-right: 0;
  }
}

@media (max-width: 425px) {
  .filter-button {
    top: 15%;
  }
  .sorting {
    top: 16.1%;
  }
}
