body {
  flex-direction: column;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: rgb(88, 38, 142);
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}

.main-container {
  display: flex;
  flex-direction: row;
  margin: 150px 20px 50px 20px;
  width: 100%;
  justify-content: space-between;
}

.filter {
  margin-left: 40px;
  width: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(88, 38, 142, 0);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  height: 700px;
}

.filter .type,
.filter .size,
.filter .price-range,
.filter .firm {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-direction: column;
  padding: 0.7em;
  color: #fff;
  text-decoration: none;
  background: rgba(88, 38, 142, 0);
  overflow: hidden;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.filter .type > li,
.filter .firm > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
}

.filter .type > li > label,
.filter .firm > li > label {
  width: 100%;
  cursor: pointer;
  text-align: start;
}

.filter .sex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.filter .sex > a {
  padding: 0.5em;
  width: 50%;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background: rgba(88, 38, 142, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.filter .sex > a.current {
  background-color: #fff;
  color: rgb(115, 51, 184);
}

.man {
  border-top-left-radius: 20px;
}

.woman {
  border-top-right-radius: 20px;
}

.filter .size-select {
  padding-top: 0.5em;
  background-color: rgba(88, 38, 142, 0.516);
  width: 100%;
  color: #fff;
  overflow: auto;
  border: 2px solid rgba(255, 255, 255, 0.5);
  text-align: center;
}

.filter .price-range {
  border-bottom: none;
  align-items: center;
}

.filter .price-range input {
  width: 100px;
  padding: 5px;
  margin-right: 10px;
  background-color: rgba(88, 38, 142, 0.362);
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 40px;
  width: 80%;
}

.search-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

.search-result > p,
.sorting {
  background: rgba(88, 38, 142, 0);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 49%;
  padding: 0.5em;
  color: #fff;
  font-weight: 500;
  align-items: center;
  height: 100%;
}
.search-result > p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sorting {
  display: flex;
  justify-content: space-around;
}

.sort-by {
  background: rgba(88, 38, 142, 0.29);
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 70%;
  padding: 0.5em;
  color: #fff;
}

.sort-by option {
  color: #fff;
  background-color: rgba(88, 38, 142, 0.875);
  overflow: hidden;
}

.cards-container {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: sans-serif;
  padding-top: 30px;
}

.cards-container * {
  box-sizing: border-box;
}

.card {
  background: rgba(88, 38, 142, 0);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  user-select: none;
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.card-content {
  line-height: 1;
  font-size: 1.4em;
  padding: 15px;
  background: #fafafa00;
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.product-a {
  text-decoration: none;
}

.card-content p.product-name {
  user-select: text;
  margin-top: 0;
  font-size: 1em;
  margin-bottom: 0.4em;
}

.card-content p.sale-price {
  margin-bottom: 0;
}

.card-info {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 0.8em;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  user-select: none;
  bottom: 0;
  transition: background-color 0.3s;
}

.card-info:hover {
  background-color: #fff;
  color: rgb(115, 51, 184);
}

.navigation .btnLogin-popup {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

footer {
  position: static;
}
