body {
  flex-direction: column;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bgvideo {
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
  animation: myAnim 0.5s ease 0s 1 reverse forwards;
}

.bgvideo video {
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 20;
  opacity: 0.2;
  user-select: none;
  pointer-events: none;
}

.video-text {
  position: absolute;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20.5%;
  color: #fff;
  z-index: 10;
  font-size: 3em;
  user-select: none;
  pointer-events: none;
  text-align: center;
}

.man,
.woman {
  z-index: 98;
  position: absolute;
  top: 20.5%;
  width: 50%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  pointer-events: all;
  cursor: pointer;
  font-size: 4em;
  transition: font-size 0.2s;
  border-radius: 1%;
}

.man {
  left: 0;
}

.man a {
  text-decoration: none;
  color: #ffffff;
  filter: none;
}

.man:hover {
  font-size: 5em;
  background: linear-gradient(90deg, #4d0baa 0%, rgba(255, 255, 255, 0) 100%);
}

.woman {
  right: 0;
}

.woman a {
  text-decoration: none;
  color: #fff;
  margin-left: 1.5em;
}

.woman:hover {
  font-size: 5em;
  background: linear-gradient(270deg, #af1cc0 0%, rgba(255, 255, 255, 0) 100%);
}

.effect {
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.wrapper {
  max-width: 1200px;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.wrapper .icon {
  top: 50%;
  cursor: pointer;
  position: absolute;
  height: 46px;
  width: 46px;
  font-size: 2rem;
  text-align: center;
  padding-top: 4px;
  line-height: 46px;
  border-radius: 50%;
  border: inherit;
  background-color: rgb(115, 51, 184);
  color: #fff;
  transform: translateY(-50%);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.wrapper .icon:hover {
  background-color: rgb(84, 36, 134);
}

.wrapper .icon:first-child {
  left: -23px;
}

.wrapper .icon:last-child {
  right: -20px;
}

.wrapper .carousel {
  font-size: 0px;
  margin-left: 0;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  background: rgba(88, 38, 142, 0);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 1%;
}

.wrapper .carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel img:first-child {
  margin-left: 0;
}

.carousel img {
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  height: 340px;
  object-fit: cover;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(99.1% / 3);
  user-select: none;
  pointer-events: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.hot-deals-container {
  max-width: 1000px;
  margin: 2em;
  position: relative;
  margin-bottom: 4em;
}

.hot-deals-container h2 {
  text-align: center;
  font-size: 3em;
  color: #fff;
  user-select: none;
  pointer-events: none;
}

.cards-container {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: sans-serif;
  padding-top: 30px;
}

.cards-container * {
  box-sizing: border-box;
}

.card {
  background: rgba(88, 38, 142, 0);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.card-content {
  line-height: 1.5;
  font-size: 1.2em;
  padding: 15px;
  background: #fafafa00;
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.product-a {
  text-decoration: none;
}

.card-content p.product-name {
  user-select: auto;
  margin-top: 0;
  font-size: 1.5em;
}

.card-content p.old-price {
  text-decoration: line-through;
  color: rgb(176, 97, 194);
}

.card-content p.sale-price {
  margin-bottom: 0;
}

.card-info {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 0.8em;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  font-size: 2em;
  bottom: 0;
  transition: background-color 0.3s;
}

.card-info:hover {
  background-color: #fff;
  color: rgb(115, 51, 184);
}

/* button login style */
.navigation .btnLogin-popup {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

footer {
  position: static;
}

@media screen and (max-width: 900px) {
  .cards-container {
    grid-template-columns: repeat(2, minmax(225px, 1fr));
  }

  .carousel img {
    width: calc(100% / 2);
  }

  .video-text {
    display: none;
  }

  .woman a,
  .man a {
    margin-left: 0;
    font-size: 0.7em;
  }
}

@media (max-width: 550px) {
  .cards-container {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }

  .woman a,
  .man a {
    margin-left: 0;
    font-size: 0.5em;
    height: 30vh;
  }

  .wrapper .icon:first-child {
    left: -10px;
    display: none;
  }

  .wrapper .icon:last-child {
    right: -10px;
  }

  .carousel img {
    width: 100%;
  }

  .bgvideo,
  .bgvideo video,
  .effect {
    height: 40vh;
  }

  .video-text {
    font-size: 1em;
    margin-top: 4em;
  }
}
@keyframes myAnim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
