.wrapper {
  position: relative;
  z-index: 95;
  margin-top: 4em;
  width: 400px;
  height: 440px;
  background: rgba(88, 38, 142, 0);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  margin-left: 1em;
}

.wrapper.go {
  transition: transform 0.5s ease, height 0.2s ease;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper.active {
  height: 460px;
}

.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper .icon-close {
  z-index: 98;
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
}

.wrapper .icon-close:hover {
  cursor: pointer;
}

.form-box h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #fff;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box input::placeholder,
.input-box input:focus {
  color: #fff;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #fff;
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9em;
  color: #fff;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot > label > input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
  background-color: inherit;
  border: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.forgot-box.go {
  transition: transform 0.5s ease, height 0.2s ease;
}

.forgot-box {
  z-index: 97;
  position: absolute;
  background: rgba(88, 38, 142, 0);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  height: 250px;
  width: 450px;
  padding: 2em;
  transform: scale(0);
}

.forgot-box h2 {
  color: #fff;
  text-align: center;
}

.forgot-box.active {
  transform: scale(1);
}

.icon-close-forgot:hover {
  cursor: pointer;
}

.forgot-box .icon-close-forgot {
  z-index: 98;
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
}

.btn {
  width: 100%;
  height: 45px;
  background: #42164d;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
}

.login-register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

/* section styles */
.main {
  position: relative;
  z-index: 90;
  margin: 0 2em 0 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  animation: main-anim 2s ease 0s 1 normal forwards;
}

.main .hello-message {
  text-align: center;
}

.main .hello-message h1 {
  font-size: 7em;
}

@media (max-width: 1400px) {
  .main {
    position: absolute;
    margin-left: 0;
  }

  .wrapper {
    margin-left: 0;
  }
}

@media (max-width: 450px) {
  .forgot-box {
    width: 320px;
  }

  .wrapper.active {
    height: 477px;
  }
}

@media (max-width: 800px) {
  .main .hello-message h1 {
    font-size: 3em;
  }
}

@media (max-width: 379px) {
  .main .hello-message h1 {
    font-size: 2em;
  }
}

@keyframes main-anim {
  0% {
    transform: scale(0) translateX(-1500px);
  }

  100% {
    transform: scale(1) translateX(0px);
  }
}
