body {
  flex-direction: column;
  justify-content: space-between;
}
header {
  position: static;
  top: 0;
}

.navigation .btnLogin-popup {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 560px;
  overflow: hidden;
}

.img-container {
  height: 90%;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.img-container img {
  height: 100%;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: none;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.info-container {
  height: 90%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  padding: 10px;
  padding-left: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.name-box {
  margin-top: 20px;
  font-size: 1.7em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.price-box {
  margin-top: 20px;
  font-size: 1.7em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.price-box .old-price {
  font-size: 0.5em;
  text-decoration: line-through;
  color: rgb(165, 164, 164);
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.size-dropdown {
  position: relative;
  display: inline-block;
  user-select: none;
  width: 40%;
  margin-top: 20px;
}
.add-button-box {
  position: relative;
  display: inline-block;
  user-select: none;
  width: 40%;
  margin-top: 20px;
}

.add-button {
  width: 100%;
  background: rgba(88, 38, 142, 0);
  border: 2px solid rgba(255, 255, 255, 0.751);

  border-radius: 20px;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;
}

.add-button:hover {
  background-color: #fff;
  color: rgb(88, 38, 142);
}

.dropdown-toggle {
  width: 100%;
  background: rgba(88, 38, 142, 0);
  border: 2px solid rgba(255, 255, 255, 0.751);

  border-radius: 20px;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;
}

.dropdown-toggle:hover {
  background-color: #fff;
  color: rgb(88, 38, 142);
}

.dropdown-toggle.show {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-menu::-webkit-scrollbar {
  display: none;
}

.dropdown-menu {
  position: absolute;
  height: 145px;
  overflow-y: scroll;
  top: 100%;
  left: 0;
  z-index: 98;
  min-width: 100%;
  padding: 8px;
  background: rgba(88, 38, 142, 0.56);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  backdrop-filter: blur(15px);
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 8px;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
  color: rgb(88, 38, 142);
}
.parameters {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.gender,
.brand,
.type {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.info {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: justify;
  padding-right: 20px;
  padding-left: 20px;
}

.info .text {
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 20px;
  height: 165px;
  overflow-y: scroll;
  text-align: start;
}

.info .text::-webkit-scrollbar {
  display: none;
}

footer {
  position: static;
  z-index: 97;
}

@media screen and (max-width: 1000px) {
  .main-container {
    margin-top: 20px;
    height: 100%;
    flex-direction: column;
    box-shadow: none;
    border: none;
  }
  .img-container {
    width: 60%;
    box-shadow: none;

    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }
  .img-container img {
    border-radius: 20px;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .info-container {
    width: 60%;
    box-shadow: none;
    margin-bottom: 20px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }

  .info-container .parameters {
    margin-bottom: 20px;
  }
  .name-box {
    font-size: 1.5em;
  }
  .price-box {
    font-size: 1.3em;
  }
  .buttons .add-button {
    font-size: 0.8em;
  }
  .buttons .dropdown-toggle {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 534px) {
  .info-container {
    width: 315px;
  }
  .img-container {
    width: 315px;
  }
}
